.toga-test-one {
  border: 1px solid #ddd;
  background-image: url('test-one/assets/images/product_mosaic.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.n-svg {
  display: inline-block;
}
.n-icon--chevron {
  stroke: red;
  height: 10px;
  width: 16px;

  svg {
    transition: transform .3s ease-in-out;
    position: relative;
    height: 10px;
    width: 16px;
    margin: 0 auto;
    display: block;
    z-index: 2;
  }
}

// Setup Animation
.n-icon--chevron .n-icon__group,
.n-icon--chevron .n-icon__line {
  transition: all 400ms ease-in-out 0ms;
  transform: translateY(0);
}
.n-icon--chevron .n-icon__line {
  transform: rotate(0deg) translate(0);
  transform-origin: 50px 50px;
}

.clicked .n-icon--chevron {
  .n-icon__group {
    transform: translateY(-40px);
  }
  .n-icon__line--right {
    transform: rotate(90deg);
  }
  .n-icon__line--left {
    transform: rotate(-90deg);
  }
}
