@import '~toga-component/styles/abstracts/breakpoint';

$form__top-margin: 22px;
$image__top-margin: 16px;
$slogan__line-height: 17px;
$image__top-position: $slogan__line-height + $image__top-margin;
$form__top-position: $form__top-margin + $image__top-margin;

* {
  box-sizing: border-box;
}

.toga-newsletter-subscribe {
  padding: 32px 20px;

  @include breakpoint(large) {
    width: 960px;
    padding: 0 0 16px;
    margin: 0;
  }

  @include breakpoint(large) {
    background: url('newsletter-subscribe/assets/images/product_mosaic.jpg') no-repeat center $image__top-position;
  }
}

.newsletter-subscribe__slogan {
  text-align: center;
  font-size: 15px;
  line-height: $slogan__line-height;
}

.newsletter-subscribe__form {
  display: flex;

  @include breakpoint(large) {
    border: solid 1px #a5a5a5;
    border-radius: 5px;
    width: 60.35%;
    margin: $form__top-position auto 32px;
    background-color: white;
    padding: 16px;
  }
}

.newsletter-subscribe__input {
  flex: 1 1 auto; // syntax needed for ie10
  margin-right: 16px;
}

.newsletter-subscribe__submit {
  flex: 1 auto; // syntax needed for ie10
}

.newsletter-subscribe__cta {
  font-size: 20px;
  line-height: 1.1;
  color: #434343;
  margin-bottom: 16px;
}
