@import '~styles-toolkit/styles/abstracts/mixins';

$form__top-margin: 22px;
$image__top-margin: 16px;
$slogan__line-height: 17px;
$image__top-position: $slogan__line-height + $image__top-margin;
$form__top-position: $form__top-margin + $image__top-margin;
$form__padding--large: 16px;

.toga-newsletter-subscribe {
  padding: 32px 20px;

  @include breakpoint(large) {
    width: 960px;
    padding: 0 0 16px;
    margin: 0;
  }

  @include breakpoint(large) {
    background: url('newsletter-subscribe/assets/images/product_mosaic.jpg') no-repeat center $image__top-position;
  }
}

.toga-newsletter-subscribe__slogan {
  text-align: center;
  font-size: 15px;
  line-height: $slogan__line-height;
}

.toga-newsletter-subscribe__form {
  position: relative;
  display: flex;

  @include breakpoint(large) {
    border: solid 1px #a5a5a5;
    border-radius: 5px;
    width: 60.35%;
    margin: $form__top-position auto 32px;
    background-color: white;
    padding: $form__padding--large;
  }
}

.toga-newsletter-subscribe__label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  margin-left: 1em;
  opacity: 0.7;
  cursor: auto;
  font-weight: normal;

  @include breakpoint(large) {
    padding: $form__padding--large;
  }
}

.toga-newsletter-subscribe__input--has-text + .toga-newsletter-subscribe__label,
.toga-newsletter-subscribe__input:focus + .toga-newsletter-subscribe__label {
  opacity: 0;
  z-index: -1;
}

.toga-newsletter-subscribe__input {
  flex: 1 1 auto; // syntax needed for ie10
  margin-right: 16px;
}

.toga-newsletter-subscribe__submit {
  flex: 1 auto; // syntax needed for ie10
}

.toga-newsletter-subscribe__cta {
  font-size: 20px;
  line-height: 1.1;
  color: #434343;
  margin-bottom: 16px;
}
