.toga-product-personalisation {
  &__title {
    text-transform: capitalize;
  }

  &__qty {
    float: left;
    width: 100px;
    margin-right: 15px;

    label {
      margin-bottom: 5px;
      text-align: center;
      font-size: 11px;
    }
    input {
      width: 50px;
    }
  }
}
