@font-face {
  font-family: "NOTHS Sans No2 Regular";
  src: url("http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.woff") format('woff');
}

@font-face {
  font-family: "NOTHS Sans No3 Regular";
  src: url("http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_3_regular.woff") format('woff');
}

@font-face {
  font-family: "NOTHS Sans No2 SemiBold";
  src: url("http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.woff") format('woff');
}
