@import '~styles-toolkit/styles/abstracts/mixins';
@import 'socialLinks';

.toga-footer__title {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 17px;
  border-bottom: 1px solid #d6d2ce;
  line-height: 45px;
  margin: 0;

  @include breakpoint(large) {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    border-bottom: none;
    line-height: 1.1;
    margin: 0 0 16px;
  }
}

.toga-footer__navigation {
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    width: 960px;
    flex-direction: row;
    margin-bottom: 32px;
  }
}

.toga-footer__list {
  &:first-child {
    border-top: 1px solid #d6d2ce;
    border-radius: 8px 8px 0 0;
  }

  @include breakpoint(large) {
    width: 20%;
  }

  &--currency {
    .n-form__label {
      font-weight: normal;
    }
    @include breakpoint(large) {
      .n-form__label {
        font-size: 13px;
        font-weight: normal;
      }
      .n-form__field--select {
        height: 30px;
        font-size: 12px;
      }
      .n-button {
        padding: 5px 8px;
        font-size: 12px;
      }
    }
  }
}

.toga-footer__links a {
  color: #555;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #d6d2ce;
  background-color: #f6f5f3;
  overflow: hidden;
  text-decoration: none;

  @include breakpoint(large) {
    font-size: 13px;
    line-height: 20px;
    background: none;
    border: none;
    padding: 0;
  }

  &:hover {
    border-left: 10px solid #0ca6d4;
    padding-left: 10px;

    @include breakpoint(large) {
      border: none;
      padding: 0;
    }
  }
}

.toga-footer__content {
  padding: 10px 20px;
  background-color: #f6f5f3;
  border-bottom: 1px solid #d6d2ce;

  &--slim {
    padding: 0;
    border-bottom-width: 0;
  }

  @include breakpoint(large) {
    background-color: white;
    padding-top: 0;
    padding-left: 0;
    border-bottom-width: 0;
  }
}
