@import '~styles-toolkit/styles/abstracts/mixins';
@import 'links';
@import 'socialLinks';

.toga-footer__title {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 17px;
  border-bottom: 1px solid #d6d2ce;
  line-height: 45px;
  margin: 0;

  @include breakpoint(large) {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    border-bottom: none;
    line-height: 1.1;
    margin: 0 0 16px;
  }
}

.toga-footer__navigation {
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    width: 960px;
    flex-direction: row;
    margin-bottom: 32px;
  }
}


.toga-footer__content {
  padding: 10px 20px;
  background-color: #f6f5f3;
  border-bottom: 1px solid #d6d2ce;

  &--slim {
    padding: 0;
    border-bottom-width: 0;
  }

  &--social {
    display: block;
    background-color: white;
    padding: 0;
  }

  @include breakpoint(large) {
    background-color: white;
    padding-top: 0;
    padding-left: 0;
    border-bottom-width: 0;
  }
}
