@font-face {
  font-family: 'NOTHS Sans No2 Regular';
  src: url(/public/assets/fonts/noths_sans_2_regular.woff);
}

@font-face {
  font-family: 'NOTHS Sans No3 Regular';
  src: url(/public/assets/fonts/noths_sans_3_regular.woff);
}

@font-face {
  font-family: 'NOTHS Sans No2 SemiBold';
  src: url(/public/assets/fonts/noths_sans_2_semibold.woff);
}
