@font-face {
  font-family: NOTHS2;
  src: url('../../assets/fonts/noths_sans_2_regular.woff') format('woff');
  font-weight: normal
}

@font-face {
  font-family: NOTHS2;
  src: url('../../assets/fonts/noths_sans_2_semibold.woff') format('woff');
  font-weight: bold
}
