$small-device-max-width: 767px;
$large-device-min-width: $small-device-max-width + 1;
$large-device-max-width: 3200px;

$font:    "NOTHS2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;

$ui_primary_colour: black;
$ui_secondary_colour: white;

$aqua_squeeze: #E2F0F5;
$dark_grey: #555;
$orient: #056582;
$bondi-blue: #0A89AF;
$iron: #ccc;
